<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafe.org /">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Cheese</h1>
<hr/>


<p th:unless="${cheeses} and ${cheeses.size()}">no cheese yet :(</p>

<nav th:replace="fragments :: navigation"></nav>
<hr/>

    <ul th:each="cheese : ${cheeses}" class="list-unstyled">
        <span th:text="${cheese.name}">name</span>
        <a th:href="@{'/cheese/edit/' + ${cheese.cheeseId}}"><em>edit</em></a>
        <li th:text="'Rate: '+${cheese.rate}">rate</li>
        <li th:text="'Type: '+${cheese.type}">type</li>
        <li th:text="'Description: '+${cheese.description}">description</li><br/>
    </ul>

</body>
</html>