<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafe.org /">

<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Cheese</h1>
<hr/>

<!--<p th:unless="${cheeses} and ${cheeses.size()}">no cheese yet :(</p>-->

<nav th:replace="fragments :: navigation"></nav>
<hr/>




<form class="form-horizontal" method="post" th:object="${category}">
    <!--<h1 th:text="${title}" class=" col-sm-offset-4">Default Cheese</h1>-->
    <div class="form-group">
        <!--<label for="cheeseName" class="col-sm-2  control-label">CheeseName</label>-->
        <div class="col-sm-12">
            <input type="text" class="form-control" th:field="*{name}" placeholder="name" th:value="*{name}"/>
            <span th:errors="*{name}" class="alert alert-warning form-control"></span>
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="cheeseDescription" class="col-sm-2  control-label">Cheese Description</label>-->
        <!--<div class="col-sm-12">-->
            <!--<textarea class="form-control" rows="10" th:field="*{description}" th:value="*{description}"  placeholder="Cheese Description"></textarea>-->
            <!--<span th:errors="*{description}" class="alert alert-warning form-control"></span>-->
        <!--</div>-->
    <!--</div>-->



    <div class="form-group">
        <!--<label class="col-sm-3 form-inline" for="type" >Type-->
            <!--<select th:field="*{type}" class="form-control" id="type" >-->
                <!--<option th:each="cheeseType: ${cheeseTypes}"-->
                        <!--th:text="${cheeseType.name}"-->
                        <!--th:value="${cheeseType}">-->
                <!--</option>-->
            <!--</select>-->
        <!--</label>-->

        <!--<label class="col-sm-3 form-inline" for="rate" >Rate-->
            <!--<select th:field="*{rate}" class="form-control" id="rate" >-->
                <!--<option th:each="cheeseRate: ${cheeseRates}"-->
                        <!--th:text="${cheeseRate.name}"-->
                        <!--th:value="${cheeseRate}">-->
                <!--</option>-->
            <!--</select>-->
        <!--</label>-->

        <div class="col-sm-2 col-sm-offset-4 ">
            <button type="submit" class="btn btn-default form-control">Add Category</button>
        </div>
    </div>
</form>



</body>
</html>